# Python 程式設計
> Input/Output

## Input/Output (I/O)
> 使用 open()<br>
> 使用 Pandas

### 使用 open()

open( 資料路徑, 讀寫狀態, (編碼方式) )

 - 資料路徑可輸入相對路徑或絕對路徑
 - 讀寫狀態有 `r` (read) / `w` (write) / `a` (append)
 - 編碼方式通常在 windows 電腦須設定為 utf8
 - 每次使用完 open( ) 記得要 close( )

In [4]:
# 請先執行以下程式下載資料
from urllib.request import urlretrieve
url = 'https://drive.google.com/uc?export=download&id=1bIemyCvt4wQ7CD30mosFGjGWgJfhaAB1'
urlretrieve(url, "students.csv")
url = 'https://drive.google.com/uc?export=download&id=1sV1zjDKzDC59CUuJQiTbdzfr953eye4z'
urlretrieve(url, "students.xlsx")

('students.xlsx', <http.client.HTTPMessage at 0x7f8b4df44e20>)

#### 讀取資料

In [4]:
file = open('students.csv', 'r', encoding='utf8')
data = file.read()
file.close()

觀察 data 長什麼樣子

In [5]:
data

'Jane,160,50\nBob,170,60\nJack,170,80\nPeter,170,80\nBen,160,70\nJanet,150,60\nWind,170,50\nAngle,180,90\n'

如何整理讀到的 data

In [6]:
lines = data.splitlines()
names = []
height = []
weight = []
for line in lines:
    items = line.split(',')
    names.append(items[0])
    height.append(items[1])
    weight.append(items[2])

In [7]:
names

['Jane', 'Bob', 'Jack', 'Peter', 'Ben', 'Janet', 'Wind', 'Angle']

In [8]:
height

['160', '170', '170', '170', '160', '150', '170', '180']

In [9]:
weight

['50', '60', '80', '80', '70', '60', '50', '90']

#### 寫入資料

In [10]:
file = open('names.txt', 'w', encoding='utf8') # 資料夾會出現 names.txt
data = file.write('\n'.join(names))
file.close()

#### 增加資料

In [11]:
file = open('names.txt', 'a', encoding='utf8')
data = file.write('Rachel')
file.close()

#### 實在覺得 close( ) 很煩，可以試試 with

In [2]:
# with 會在程式執行完後自動 close
with open('students.csv', 'r', encoding='utf8') as reader:
    names = []
    height = []
    weight = []
    for line in reader.read().splitlines():
        items = line.split(',')
        names.append(items[0])
        height.append(items[1])
        weight.append(items[2])

In [3]:
with open('names.txt', 'w', encoding='utf8') as writer:
    writer.write('\n'.join(names))

### 使用 Pandas

#### 讀取資料

In [28]:
import pandas as pd
df_csv = pd.read_csv('students.csv', header=None)
df_csv

       0    1   2
0   Jane  160  50
1    Bob  170  60
2   Jack  170  80
3  Peter  170  80
4    Ben  160  70
5  Janet  150  60
6   Wind  170  50
7  Angle  180  90

In [29]:
df_xls = pd.read_excel('students.xlsx', sheet_name='工作表1', header=None)
df_xls

       0    1   2
0   Jane  160  50
1    Bob  170  60
2   Jack  170  80
3  Peter  170  80
4    Ben  160  70
5  Janet  150  60
6   Wind  170  50
7  Angle  180  90

How to read all sheets?

In [ ]:
df_xls = pd.read_excel('students.xlsx', sheet_name=None, header=None)

What is the type of result if we load all sheets?

In [6]:
df_xls

{'工作表1':        0    1   2
 0   Jane  160  50
 1    Bob  170  60
 2   Jack  170  80
 3  Peter  170  80
 4    Ben  160  70
 5  Janet  150  60
 6   Wind  170  50
 7  Angle  180  90}

#### 寫入資料

In [20]:
df_csv.to_csv('new_students.csv')

In [21]:
df_xls.to_excel('new_students.xlsx')

更多 Pandas 讀取資料格式可以參考[官方文件](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)