# Python 程式設計
> Input/Output

## Input/Output (I/O)
> 使用 open()<br>
> 使用 Pandas

### 使用 open()

open( 資料路徑, 讀寫狀態, (編碼方式) )

 - 資料路徑可輸入相對路徑或絕對路徑
 - 讀寫狀態有 `r` (read) / `w` (write) / `a` (append)
 - 編碼方式通常在 windows 電腦須設定為 utf8
 - 每次使用完 open( ) 記得要 close( )

In [3]:
# 請先執行以下程式下載資料
from urllib.request import urlretrieve
url = 'https://drive.google.com/uc?export=download&id=1bIemyCvt4wQ7CD30mosFGjGWgJfhaAB1'
urlretrieve(url, "students.csv")
url = 'https://drive.google.com/uc?export=download&id=1sV1zjDKzDC59CUuJQiTbdzfr953eye4z'
urlretrieve(url, "students.xlsx")

('students.csv', <http.client.HTTPMessage at 0x2919cb0e978>)

#### 讀取資料

In [4]:
file = open('students.csv', 'r', encoding='utf8')
data = file.read()
file.close()

觀察 data 長什麼樣子

In [5]:
data

'Jane,160,50\nBob,170,60\nJack,170,80\nPeter,170,80\nBen,160,70\nJanet,150,60\nWind,170,50\nAngle,180,90\n'

如何整理讀到的 data

In [6]:
lines = data.splitlines()
names = []
height = []
weight = []
for line in lines:
    items = line.split(',')
    names.append(items[0])
    height.append(items[1])
    weight.append(items[2])

In [7]:
names

['Jane', 'Bob', 'Jack', 'Peter', 'Ben', 'Janet', 'Wind', 'Angle']

In [8]:
height

['160', '170', '170', '170', '160', '150', '170', '180']

In [9]:
weight

['50', '60', '80', '80', '70', '60', '50', '90']

#### 寫入資料

In [10]:
file = open('names.txt', 'w', encoding='utf8') # 資料夾會出現 names.txt
data = file.write('\n'.join(names))
file.close()

#### 增加資料

In [11]:
file = open('names.txt', 'a', encoding='utf8')
data = file.write('Rachel')
file.close()

#### 實在覺得 close( ) 很煩，可以試試 with

In [13]:
# with 會在程式執行完後自動 close
with open('students.csv', 'r', encoding='utf8') as file:
    names = []
    height = []
    weight = []
    for line in file.read().splitlines():
        items = line.split(',')
        names.append(items[0])
        height.append(items[1])
        weight.append(items[2])

### 使用 Pandas

#### 讀取資料

In [28]:
df_csv = pd.read_csv('students.csv', header=None)
df_csv

       0    1   2
0   Jane  160  50
1    Bob  170  60
2   Jack  170  80
3  Peter  170  80
4    Ben  160  70
5  Janet  150  60
6   Wind  170  50
7  Angle  180  90

In [29]:
df_xls = pd.read_excel('students.xlsx', sheet_name='工作表1', header=None)
df_xls

       0    1   2
0   Jane  160  50
1    Bob  170  60
2   Jack  170  80
3  Peter  170  80
4    Ben  160  70
5  Janet  150  60
6   Wind  170  50
7  Angle  180  90

#### 寫入資料

In [20]:
df_csv.to_csv('new_students.csv')

In [21]:
df_xls.to_excel('new_students.xlsx')

更多 Pandas 讀取資料格式可以參考[官方文件](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

## Practice

請先 restart kernel，接著直接執行以下程式，程式結果將下載 iris.csv 檔案

In [22]:
from urllib.request import urlretrieve
url = 'https://drive.google.com/uc?export=download&id=1aEdeQhML2zOAhiMQ1UL1qQPY7DdWgGlx'
urlretrieve(url, "iris.csv")

('iris.csv', <http.client.HTTPMessage at 0x291b50dea58>)

請使用 open( ) 讀取 iris.csv，請 print 出 '共有 ? 筆資料, ? 個欄位'

In [26]:
with open('iris.csv', 'r') as file:
    data = file.read().splitlines()
    len_data = len(data)
    len_column = len(data[0].split(','))
    print('共有{}筆資料,{}個欄位'.format(len_data,len_column))

共有150筆資料,5個欄位

請使用 Pandas 讀取 iris.csv，將讀取到的 DataFrame 指派給變數 iris，並顯示前五筆資料

In [31]:
import pandas as pd
iris = pd.read_csv('iris.csv', header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

請問資料中共有幾筆遺漏值?

In [32]:
iris.isnull().sum().sum()

4

請將遺漏值刪除，並 print 出 '刪除遺漏值後資料筆數為 ? 筆'

In [38]:
iris = iris.dropna()
len_iris = len(iris)
print('刪除遺漏值後資料筆數為{}筆'.format(len_iris))

刪除遺漏值後資料筆數為146筆

請將資料新增四個欄位，分別為欄位一到欄位四的 dummy variable (小於欄位平均數為 0，大於等於欄位平均數為 1)

In [42]:
def dummy_variable(iris, column):
    mean_value = iris[column].mean()
    max_value = iris[column].max()
    bins = [0, mean_value, max_value]
    labels = [0, 1]
    column_name = column + 5
    iris[column_name] = pd.cut(iris[column], bins, labels=labels)
    return iris

In [46]:
for col in range(4):
    iris = dummy_variable(iris, col)
iris.head()

     0    1    2    3            4  5  6  7  8
0  5.1  3.5  1.4  0.2  Iris-setosa  0  1  0  0
1  4.9  3.0  1.4  0.2  Iris-setosa  0  0  0  0
2  4.7  3.2  1.3  0.2  Iris-setosa  0  1  0  0
3  4.6  3.1  1.5  0.2  Iris-setosa  0  1  0  0
4  5.0  3.6  1.4  0.2  Iris-setosa  0  1  0  0

請將新增的四欄轉成 Numpy Array，並指派給變數 train_x

In [50]:
train_x = iris.loc[:,5:8].values
train_x[:5]

array([[0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0]], dtype=object)

請再將資料新增一個欄位，把第五欄的資料的 Iris-setosa -> 0, Iris-versicolor-> 1, Iris-virginica -> 2

In [47]:
cat_to_dig = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}
iris[9] = iris[4].map(cat_to_dig)
iris.head()

     0    1    2    3            4  5  6  7  8  9
0  5.1  3.5  1.4  0.2  Iris-setosa  0  1  0  0  0
1  4.9  3.0  1.4  0.2  Iris-setosa  0  0  0  0  0
2  4.7  3.2  1.3  0.2  Iris-setosa  0  1  0  0  0
3  4.6  3.1  1.5  0.2  Iris-setosa  0  1  0  0  0
4  5.0  3.6  1.4  0.2  Iris-setosa  0  1  0  0  0

請將新增的一欄轉成 Numpy Array，並指派給變數 train_y

In [51]:
train_y = iris[9].values
train_y[:5]

array([0, 0, 0, 0, 0], dtype=int64)

請將下載成 `html 檔`，檔名為 `學號_姓名`，上傳到 my2 作業區