# Python 程式設計
> 期末考實作測驗

## Project 1：Air Quality analysis

請直接執行以下程式，程式結果將下載 ATM00679_20191230173049.csv 檔案，此檔案由 [OpenData.epa](https://opendata.epa.gov.tw/) 所下載。

In [1]:
from urllib.request import urlretrieve
url = 'https://drive.google.com/uc?export=download&id=1lua5zOUUzev-9BZ3MLcp_2FJMDWfJ-DF'
urlretrieve(url, "ATM00679_20191230173049.csv")

('ATM00679_20191230173049.csv', <http.client.HTTPMessage at 0x1ecbc4a5e10>)

ATM00679_20191230173049.csv 檔案欄位說明
 - SiteId：測站編號
 - SiteName：測站名稱
 - MonitorDate：監測日期
 - AQI：空氣品質指標
 - SO2SubIndex：二氧化硫副指標
 - COSubIndex：一氧化碳副指標
 - O3SubIndex：臭氧副指標
 - PM10SubIndex：懸浮微粒副指標
 - NO2SubIndex：二氧化氮副指標
 - O38SubIndex：臭氧8小時副指標
 - PM25SubIndex：細懸浮微粒副指標

請導入 Pandas 函式庫，並以 pd 作代稱

In [2]:
import pandas as pd

請使用 Pandas 讀取 ATM00679_20191230173049.csv，將讀取到的 DataFrame 指派給變數 air_quality，並顯示最後五筆資料

In [4]:
air_quality = pd.read_csv('ATM00679_20191230173049.csv')
air_quality.tail()

,SiteId,SiteName,MonitorDate,AQI,SO2SubIndex,COSubIndex,O3SubIndex,PM10SubIndex,NO2SubIndex,O38SubIndex,PM25SubIndex
995,80,關山,2019-12-17,20,3.0,NaN,NaN,5.0,8,15.0,20.0
996,83,麥寮,2019-12-17,79,7.0,NaN,NaN,50.0,25,NaN,79.0
997,84,富貴角,2019-12-17,56,4.0,6.0,NaN,26.0,31,31.0,56.0
998,1,基隆,2019-12-16,42,7.0,7.0,NaN,22.0,34,35.0,42.0
999,2,汐止,2019-12-16,41,33.0,8.0,NaN,24.0,35,27.0,41.0

請 print 出 "air_quality 共有 ? 筆資料"

In [7]:
print("air_quality 共有 {} 筆資料".format(len(air_quality)))

air_quality 共有 1000 筆資料

請計算每個欄位的遺漏值個數

In [8]:
air_quality.isnull().sum()

SiteId             0
SiteName           0
MonitorDate        0
AQI                0
SO2SubIndex        1
COSubIndex        78
O3SubIndex      1000
PM10SubIndex       4
NO2SubIndex        0
O38SubIndex      143
PM25SubIndex       4
dtype: int64

請將全部皆為遺漏值的欄位刪除，並顯示前五筆資料

In [10]:
air_quality = air_quality.drop('O3SubIndex', axis=1)
air_quality.head()

,SiteId,SiteName,MonitorDate,AQI,SO2SubIndex,COSubIndex,PM10SubIndex,NO2SubIndex,O38SubIndex,PM25SubIndex
0,1,基隆,2019-12-29,31,7.0,7.0,14.0,30,31.0,28.0
1,2,汐止,2019-12-29,32,7.0,9.0,14.0,30,20.0,32.0
2,3,萬里,2019-12-29,24,4.0,5.0,12.0,24,23.0,22.0
3,4,新店,2019-12-29,29,4.0,9.0,9.0,29,26.0,23.0
4,5,土城,2019-12-29,35,6.0,14.0,15.0,35,14.0,31.0

請將遺漏值刪除，並 print 出 "刪除遺漏值後資料筆數為 ? 筆"

In [11]:
air_quality = air_quality.dropna()
print("刪除遺漏值後資料筆數為 {} 筆".format(len(air_quality)))

刪除遺漏值後資料筆數為 838 筆

請依照 SiteName 分別計算出每個地區的 `平均AQI`，並 print 出 "平均AQI最大值出現在 ? "

In [15]:
site_name = air_quality['SiteName'].values.tolist()
max_value = 0
max_site = ''
for site in site_name:
    df = air_quality[air_quality['SiteName']==site]
    AQI_mean = df['AQI'].mean()
    if max_value < AQI_mean:
        max_value = AQI_mean
        max_site = site
print("平均AQI最大值出現在 {} ".format(max_site))

平均AQI最大值出現在 林園

請從 air_quality 取出 ["AQI", "SO2SubIndex", "COSubIndex", "PM10SubIndex", "NO2SubIndex", "O38SubIndex", "PM25SubIndex"] 等 7 個欄位的資料並指派給變數 corr_data(資料型態為 DataFrame)

In [17]:
corr_data = air_quality.loc[:,"AQI":"PM25SubIndex"]
corr_data.head()

,AQI,SO2SubIndex,COSubIndex,PM10SubIndex,NO2SubIndex,O38SubIndex,PM25SubIndex
0,31,7.0,7.0,14.0,30,31.0,28.0
1,32,7.0,9.0,14.0,30,20.0,32.0
2,24,4.0,5.0,12.0,24,23.0,22.0
3,29,4.0,9.0,9.0,29,26.0,23.0
4,35,6.0,14.0,15.0,35,14.0,31.0

請參考 [Pandas dataframe.corr()](https://www.geeksforgeeks.org/python-pandas-dataframe-corr/) 的方式，計算欄位間的 Pearson 相關係數矩陣，並將此矩陣指派給變數 pearson_corr

In [40]:
pearson_corr = corr_data.corr(method ='pearson')
pearson_corr

,AQI,SO2SubIndex,COSubIndex,PM10SubIndex,NO2SubIndex,O38SubIndex,PM25SubIndex
AQI,1.000000,0.354410,0.319447,0.907187,0.331271,0.488218,0.964955
SO2SubIndex,0.354410,1.000000,0.222726,0.311198,0.384139,0.100697,0.346033
COSubIndex,0.319447,0.222726,1.000000,0.281528,0.703520,-0.145422,0.380805
PM10SubIndex,0.907187,0.311198,0.281528,1.000000,0.292616,0.490312,0.915326
NO2SubIndex,0.331271,0.384139,0.703520,0.292616,1.000000,-0.145141,0.390616
O38SubIndex,0.488218,0.100697,-0.145422,0.490312,-0.145141,1.000000,0.399611
PM25SubIndex,0.964955,0.346033,0.380805,0.915326,0.390616,0.399611,1.000000

請找出 AQI 相關係數最大值的其他欄位，並 print 出 " 與 AQI 最相關的欄位為 ? "

In [62]:
max_value = 0
max_column = ''
columns = pearson_corr.columns
for col in columns:
    if pearson_corr.loc['AQI',col] > max_value and col != 'AQI':
        max_value = pearson_corr.loc['AQI', col]
        max_column = col
print("與 AQI 最相關的欄位為 {}".format(max_column))

與 AQI 最相關的欄位為 PM25SubIndex

## Project 2：Lyric analysis

請直接執行以下程式，程式結果將下載三個檔案，分別為 ntusd-positive (zh-tw).txt、ntusd-negative (zh-tw).txt、lyrics_cut_mayday.dataset。ntusd-positive (zh-tw).txt、ntusd-negative (zh-tw).txt 來自於 [link](https://github.com/candlewill/Sentiment_Lexicons/tree/master/resources)；lyrics_cut_mayday.dataset 來自於 [link](https://github.com/youngmihuang/lyrics_application/blob/master/dataset/lyrics_cut_mayday.dataset)。

In [2]:
from urllib.request import urlretrieve
url = 'https://drive.google.com/uc?export=download&id=1wQTOqpDYCau_vL0LCfY-LuOKs6aXRAKL'
urlretrieve(url, "ntusd-positive (zh-tw).txt")
url = 'https://drive.google.com/uc?export=download&id=1CshwZlYgTTwpukk6JqlXEOMW4u1xRofK'
urlretrieve(url, "ntusd-negative (zh-tw).txt")
url = 'https://drive.google.com/uc?export=download&id=1W_6cD6T9zgQBnpfKX-3etpltH0Y6uIpd'
urlretrieve(url, "lyrics_cut_mayday.dataset")

('lyrics_cut_mayday.dataset', <http.client.HTTPMessage at 0x2039c5dec88>)

dataset introduction
 - ntusd-positive (zh-tw).txt：繁體中文跟正向情緒相關的詞語
 - ntusd-negative (zh-tw).txt：繁體中文跟負向情緒相關的詞語
 - lyrics_cut_mayday.dataset：36 首 Mayday 的歌詞，已作過斷詞

請使用 open() 開啟上述三個檔案，並分別將檔案資料斷行後指派給變數 positive、negative、lyrics

In [3]:
with open("ntusd-positive (zh-tw).txt","r",encoding="utf8") as f:
    positive = f.read().splitlines()
    
with open("ntusd-negative (zh-tw).txt","r",encoding="utf8") as f:
    negative = f.read().splitlines()

with open("lyrics_cut_mayday.dataset","r",encoding="utf8") as f:
    lyrics = f.read().splitlines()

請將 lyrics 中的每首歌詞依照空格作切分後，指派給另一個變數 lyrics_seg (亦即 lyrics_seg 為斷完詞的36首歌詞)

In [4]:
lyrics_seg = []
for lyric in lyrics:
    lyrics_seg.append(lyric.split())

lyrics_seg 作切割，最後一筆資料指派給變數 x_test，其餘指派給變數 x_train，並 print 出 "x_train 共有 ? 筆資料"

In [5]:
x_test = lyrics_seg[-1]
x_train = lyrics_seg[:-1]
print( "x_train 共有 {} 筆資料".format(len(x_train)))

x_train 共有 35 筆資料

請製作 Function 符合以下條件：
 - 名稱為 get_sentiment
 - 輸入參數為 x_train 的每筆資料，在此請將參數命名為 lyric
 - 輸出為輸入資料的情感，正向則輸出 `1`，負向則輸出 `-1`
 - 情感分數的計算方式為：
  - 宣告一個變數 score 為 0
  - 依序判斷歌詞中的每個字是否有出現在 positve 或 negative 之中
  - 如在 positve 有出現，則 score 加 1；如在 negative 有出現，則 score 減 1
  - 最後 score 如大於 0，則為正向；如小於等於 0，則為負向

In [6]:
def get_sentiment(lyric):
    score = 0
    for word in lyric:
        if word in positive:
            score += 1
        elif word in negative:
            score -= 1
    if score > 0:
        return 1
    else:
        return -1

請使用 get_sentiment 取得 x_train 中每筆資料的 sentiment，並將結果儲存於變數 y_train 中

In [7]:
y_train = []
for lyric in x_train:
    y_train.append(get_sentiment(lyric))

請找出 x_train 共出現了那些詞語，並將結果儲存於變數 words

In [8]:
words = []
for lyric in x_train:
    for word in lyric:
        if word not in words:
            words.append(word)

請製作 Function 符合以下條件：
 - 名稱為 get_bag_of_word
 - 輸入參數為 x_train 的每筆資料與 words，在此請將參數命名為 lyric 與 words
 - 輸出為輸入資料的向量
 - 向量的產生方式如下：
  - 導入 numpy 函式庫，並以 np 作代稱
  - 宣告變數 vector 為 words 長度的全零 Array。
  - 依序計算 words 中的詞語在輸入資料的出現次數，並調整 vector 中對應位置的數值
  - 輸出結果示意：array([19.,  6., 18., ...,  0.,  0.,  0.])

In [9]:
import numpy as np
def get_bag_of_word(lyric, words):
    len_words = len(words)
    vector = np.zeros(len_words)
    for i in range(len(words)):
        cnt = lyric.count(words[i])
        vector[i] = cnt
    return vector

以下 Function 可計算兩個向量的相似度，請依序將 x_train 使用 get_bag_of_word 轉成向量後，再與同樣使用 get_bag_of_word 轉成向量的 x_test 計算相似度，找出最高相似度的三首歌詞，並加總這三首歌詞對應 y_train 的值，最後 print "測試資料的情緒為 ? "。(?可為1/-1或positive/negative)

In [10]:
def get_similarity(vector1, vector2):
    dot_product = 0.0
    normA = 0.0
    normB = 0.0
    for a, b in zip(vector1, vector2):
        dot_product += a * b
        normA += a ** 2
        normB += b ** 2
    return dot_product / ((normA * normB) ** 0.5)

In [12]:
import pandas as pd

similarity = []
for lyric in x_train:
    vector1 = get_bag_of_word(lyric, words)
    vector2 = get_bag_of_word(x_test, words)
    similarity.append(get_similarity(vector1, vector2))
df = pd.DataFrame({'sentiment':y_train, 'similarity':similarity})
df = df.sort_values('similarity',ascending=False)
y_test = df.iloc[0:3,0].sum()
if y_test == 1:
    print("測試資料的情緒為positive")
else:
    print("測試資料的情緒為negative")

測試資料的情緒為positive